extends ../shared/template

block content
  h1 Index of Chimeras
  #controls
    a(class ='button button-border', href='chimeras/new') Add New Chimera
    .filter
      span Search
      //don't touch this next line. just don't.
      form(action='/chimeras/filter?:part:body', method='GET')
          label Part:
          select(name= 'part')
            option(value='head') head
            option(name='body') body
            option(name='tail') tail
          label Pony:
          select(name= 'pony')
            option(name='rainbow') rainbow
            option(name='twilight') twilight
            option(name='derpy') derpy
            option(name='applejack') applejack
          button Search

  #chimeraDisplay
    each chimera in chimeras
      .chimera
        .delete
          form(action='/chimeras/#{chimera._id}/delete', method='POST')
            button X
        .name
          a(href='/chimeras/#{chimera._id}')= chimera.name
        .age age: #{chimera.age}
        .sex sex: #{chimera.sex}
        .image
          .tail(style= 'background-image: url(/img/#{chimera.tail}tail.png);')
          .body(style= 'background-image: url(/img/#{chimera.body}body.png);')
          .head(style= 'background-image: url(/img/#{chimera.head}head.png);')
